* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

nav {
  height: 50px;
  border-bottom: #000000 2px solid;
  display: flex;
  align-items: center;
  padding: 50px 20px;
  justify-content: space-between;
}
nav .logo {
  color: #000000;
  width: 201px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-right: 20px;
}
nav .logo .icon {
  height: 73px;
  width: 73px;
  background-color: red;
}
nav .logo span {
  height: 21px;
  width: 105px;
}
nav .search-bar {
  width: 604px;
  height: 44px;
  background-color: #587c83;
}
nav .links {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
nav .links a {
  text-decoration: none;
  color: #000000;
}
nav .signInOut {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .signInOut a {
  color: #000000;
  text-decoration: none;
  position: relative;
}
nav .signInOut a .count {
  position: absolute;
  top: -10px;
  right: -15px;
}

footer {
  background-color: #587c83;
  width: 100%;
  height: 92px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
footer p {
  color: #ffffff;
}
footer .footer-links a {
  color: #ffffff;
  text-decoration: none;
  margin-right: 38px;
}
footer .icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .icons img {
  height: 50px;
  width: 50px;
  margin-left: 38px;
}

.hero {
  width: 100%;
  max-width: 1500px;
  height: 530px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 158px auto 0;
  background-image: url(../images/home-hero.jpg), linear-gradient(rgba(88, 124, 131, 0.6), rgba(88, 124, 131, 0.6));
  background-color: rgba(88, 124, 131, 0.6);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  position: relative;
}
.hero .hero-h4 {
  position: absolute;
  font-size: 32px;
  font-weight: bold;
  right: 260px;
}
.hero p {
  position: absolute;
  font-size: 16px;
  right: 260px;
  top: 300px;
}

.featured-books {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 176px;
  margin-bottom: 49px;
}
.featured-books .book1 {
  width: 306px;
  height: 491px;
  background-image: url(../images/to-kill-a-mockingbird.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.featured-books .book2 {
  width: 306px;
  height: 491px;
  background-image: url(../images/becoming.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.featured-books .book3 {
  width: 306px;
  height: 491px;
  background-image: url(../images/firestarter.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.featured-text {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 auto;
}
.featured-text .text-blurbs {
  width: 413px;
  height: 153px;
}
.featured-text .text-blurbs p {
  font-size: 16px;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 188px;
}
.buttons button {
  border: 2px solid #000000;
  width: 222px;
  height: 68px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #ffffff;
}

.about {
  margin: 0 auto;
}
.about .title {
  font-size: 32px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 170px;
}
.about .box1 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 auto;
  margin-bottom: 213px;
}
.about .box1 .photo-box1 {
  width: 393px;
  height: 587px;
  background-position: center;
  background-image: url(../images/about-photo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.about .box1 .founded {
  margin: 0 auto;
  font-weight: bold;
  font-size: 26px;
  position: absolute;
  top: 340px;
}
.about .box1 .about-text {
  width: 1134px;
  margin-left: 40px;
}
.about .box2 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 auto;
  margin-bottom: 213px;
}
.about .box2 .photo-box2 {
  width: 393px;
  height: 587px;
  background-position: center;
  background-image: url(../images/about-photo-two.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.about .box2 .bookfinder {
  margin: 0 auto;
  font-weight: bold;
  font-size: 26px;
  position: absolute;
  bottom: -550px;
}
.about .box2 .about-text {
  width: 1134px;
  margin-left: 40px;
}

.books {
  min-height: 100vh;
  padding: 180px 50px;
  display: flex;
  flex-direction: column;
}
.books section {
  display: flex;
  flex-direction: column;
  margin-bottom: 250px;
  width: 100%;
  justify-content: center;
}
.books section h1 {
  font-size: 26px;
  padding-bottom: 65px;
}
.books section #items-holder {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
.books section #items-holder .item-container {
  display: flex;
  justify-content: space-between;
  height: 306px;
  width: 550px;
  margin: 0 7px 63.5px 7px;
}
.books section #items-holder .item-container img {
  height: 85%;
  margin-right: 20px;
}
.books section #items-holder .item-container .item-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: flex-end;
  height: 269px;
  max-width: 280px;
}
.books section #items-holder .item-container .item-content p {
  width: 280px;
}
.books section #items-holder .item-container .item-content button {
  border: 1px solid #000000;
  width: 222px;
  height: 68px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #ffffff;
  cursor: pointer;
}

@media screen and (min-width: 1228px) {
  .books #items-holder {
    justify-content: space-between;
  }
}
@media screen and (max-width: 1227px) {
  .books #items-holder {
    justify-content: center;
  }
  .books #items-holder .item-container {
    margin: 63.5px;
  }
}
.blog {
  width: 100%;
  margin: 0 auto;
  align-items: center;
}
.blog .box1 {
  margin: 0 auto;
  margin-top: 117px;
  background-color: #587c83;
  width: 1464px;
  height: 463px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.blog .box1 .pic-box {
  padding-left: 88px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.blog .box1 .pic-box .pic1 {
  width: 250px;
  height: 380px;
  background-image: url(../images/becoming.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 114px;
}
.blog .box1 .pic-box .pic2 {
  width: 250px;
  height: 380px;
  background-image: url(../images/finding-me.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.blog .box1 .about-text {
  color: #ffffff;
}
.blog .box1 .about-text h4 {
  font-size: 32px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.blog .box1 .about-text p {
  width: 413px;
  text-align: center;
}
.blog .box1 button {
  border: 2px solid #ffffff;
  width: 222px;
  height: 68px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #587c83;
  color: white;
  position: absolute;
  bottom: 100px;
  right: 230px;
}
.blog .box2 {
  margin: 0 auto;
  margin-top: 117px;
  background-color: #587c83;
  width: 1464px;
  height: 463px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.blog .box2 .pic-box2 {
  width: 622px;
  height: 463px;
  background-image: url(../images/open-book-blog.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: -150px;
}
.blog .box2 .about-text2 {
  color: #ffffff;
}
.blog .box2 .about-text2 h4 {
  font-size: 32px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.blog .box2 .about-text2 p {
  width: 413px;
  text-align: center;
}
.blog .box2 button {
  border: 2px solid #ffffff;
  width: 222px;
  height: 68px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #587c83;
  color: white;
  position: absolute;
  bottom: -500px;
  right: 330px;
}
.blog .box3 {
  margin: 0 auto;
  margin-top: 117px;
  background-color: #587c83;
  width: 1464px;
  height: 463px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 140px;
}
.blog .box3 .pic-box3 {
  width: 622px;
  height: 463px;
  background-image: url(../images/ereading.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: -150px;
}
.blog .box3 .about-text2 {
  color: #ffffff;
}
.blog .box3 .about-text2 h4 {
  font-size: 32px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.blog .box3 .about-text2 p {
  width: 413px;
  text-align: center;
}
.blog .box3 button {
  border: 2px solid #ffffff;
  width: 222px;
  height: 68px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #587c83;
  color: white;
  position: absolute;
  bottom: -1050px;
  right: 330px;
}

.account {
  min-height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
  flex-wrap: wrap;
}
.account input {
  margin-top: 44px;
  font-size: 16px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 1.5px solid black;
}
.account input:focus {
  outline: none;
}
.account input::placeholder {
  color: black;
}
.account button {
  margin-top: 44px;
  width: 170px;
  height: 40px;
  align-self: center;
  color: white;
  background-color: #587c83;
  border: 0;
  cursor: pointer;
}
.account h1 {
  font-size: 26px;
  font-weight: normal;
}
.account .login,
.account .signup {
  display: flex;
  flex-direction: column;
  margin: 30px;
}
.account .login p,
.account .signup p {
  margin-bottom: 1px;
}

@media screen and (max-width: 778px) {
  .account {
    flex-direction: column;
  }
  .account h1 {
    font-size: 12px;
    margin-top: 15px;
  }
  .account input,
  .account button,
  .account p {
    font-size: 11px;
  }
}
