* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

nav {
  height: 50px;
  border-bottom: #000000 2px solid;
  display: flex;
  align-items: center;
  padding: 50px 20px;
  justify-content: space-between;
}
nav .logo {
  color: #000000;
  width: 201px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-right: 20px;
}
nav .logo .icon {
  height: 73px;
  width: 73px;
  background-color: red;
}
nav .logo span {
  height: 21px;
  width: 105px;
}
nav .search-bar {
  width: 604px;
  height: 44px;
  background-color: #587c83;
}
nav .links {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
nav .links a {
  text-decoration: none;
  color: #000000;
}
nav .signInOut {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .signInOut a {
  color: #000000;
  text-decoration: none;
  position: relative;
}
nav .signInOut a .count {
  position: absolute;
  top: -10px;
  right: -15px;
}

footer {
  background-color: #587c83;
  width: 100%;
  height: 92px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
footer p {
  color: #ffffff;
}
footer .footer-links a {
  color: #ffffff;
  text-decoration: none;
  margin-right: 38px;
}
footer .icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .icons img {
  height: 50px;
  width: 50px;
  margin-left: 38px;
}

.hero {
  width: 1500px;
  height: 530px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 auto;
  margin-top: 158px;
  background-color: red;
}

.featured-books {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 176px;
  margin-bottom: 49px;
}
.featured-books .book1 {
  width: 306px;
  height: 491px;
  background-color: peru;
}
.featured-books .book2 {
  width: 306px;
  height: 491px;
  background-color: peru;
}
.featured-books .book3 {
  width: 306px;
  height: 491px;
  background-color: peru;
}

.featured-text {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 auto;
}
.featured-text .text-blurbs {
  width: 413px;
  height: 153px;
}
.featured-text .text-blurbs p {
  font-size: 16px;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 188px;
}
.buttons button {
  border: 2px solid #000000;
  width: 222px;
  height: 68px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #ffffff;
}

#books {
  min-height: 100vh;
}
#books .section h1 {
  font-size: 26px;
}
#books .section .items-holder {
  height: 306px;
  background-color: blueviolet;
}
#books .section .items-holder .item-container {
  height: 306px;
  width: 521px;
  background-color: chartreuse;
}
