.cart {
  min-height: 100vh;
  .cartItem {
    height: 550px;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;

    img {
      height: 50%;
      margin-right: 22px;
      margin: 0 22px 0 135px;
    }

    .cartItemInfo {
      .title,
      .price {
        font-weight: bold;
        font-size: 16px;
      }

      .quantity-change {
        display: flex;
        justify-content: space-between;
        width: 166px;

        .change,
        .delete {
          text-decoration: underline;
        }
      }
    }
  }
}
