.febfaves {
  width: 100%;
  margin: 0 auto;
  .feb-hero {
    margin: 0 auto;
    margin-top: 140px;
    margin-bottom: 140px;

    height: 463px;
    width: 1464px;
    background-color: $site-blue;
    background-image: url(../images/february-favorites-hero.jpg),
      linear-gradient(rgba(88, 124, 131, 0.6), rgba(88, 124, 131, 0.6));
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
